<!-- Header --->
<header class='page-header py-5' style="margin-bottom: 30px;">
  <h3 class="text-center" onmousedown="return false" onselectstart="return false"><a class="nav-link"
      routerLink="reservation-form">Book a room today!</a></h3>
  <app-hotel-search-by-name></app-hotel-search-by-name>
</header>

<!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->

<!-- Content section-->
<div class="content">
  <app-hotels-view-all></app-hotels-view-all>
</div>

<div style="margin-top: 30px;"></div>
