<!-- Header --->
<header class='page-header py-5'>
  <h3 class="text-center" onmousedown="return false" onselectstart="return false"><a class="nav-link"
      routerLink="post-listing">Book a room today!</a></h3>
  <app-hotel-search-by-name></app-hotel-search-by-name>
</header>

<!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->

<!-- Content section-->
<div class="content">
  <app-hotels-view-all></app-hotels-view-all>
</div>

<!-- Testimonials-->
<section class="testimonials text-center bg-dark text-white" style="margin-top: 12px;">
  <div>
    <br>
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"GRANDHotels is amazing. I've been using it to find hotels and save money!
            Thanks GRANDHotels!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making GRANDHotels, booking hotels has never been
            easier!"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-white">Copyright &copy; GRANDHotels 2021</p>
  </div>
</footer>
