<div *ngIf="hotel != undefined">

  <div class="oneBigBoy">

    <div class="card bg-dark">
      <div class="card-header">
        <h3>Complete your Reservation</h3>
      </div>

      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

        <div class="row">
          <div class="col">
            <div class="form-check" id="bigBoiCheck">
              <label for="room" class="form-label" onmousedown="return false" onselectstart="return false">Rooms</label>
              <br>
              <span *ngFor="let room of hotel.rooms">
                <span *ngIf="room.price != -1 && room.numRoomsAvailable > 0">
                  <div class="form-check">
                    <input type="radio" name="room" value="{{room.name}}" class="form-check-input" ngModel />
                    <label onmousedown="return false" onselectstart="return false">{{room.name}}, ${{room.price}} per
                      night.</label>
                  </div>

                </span>
              </span>
            </div>
          </div>
          <div class="col">
            <!-- start date picker -->
            <div class="form-group">
              <label class="form-label" onmousedown="return false" onselectstart="return false">Booking Dates</label>
              <br>
              <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" type="hidden">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">

                  {{ date.day }}

                </span>
              </ng-template>
              <input #dpFromDate id="dateIn" placeholder="start date" name="dpFromDate"
                [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                size="5" (click)="datepicker.toggle()">
              <input #dpToDate id="dateIn" placeholder="end date" name="dpToDate" [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)" (click)="datepicker.toggle()">
            </div>
            <!-- end date picker -->
          </div>
        </div>


        <div style="text-align: right; padding-top: 10px;">
          <button class="btn btn-secondary" type="submit" style="align-content: end;">Reserve</button>
        </div>
      </form>


    </div>
  </div>

  <!-- <div class="card bg-dark" id="hotelCard">
    <div class='card-header'>
      <h5>{{ hotel.name }}</h5>
    </div>
    <span *ngIf="hotel.picture === 0; else elseBlock">
      <img src="../../../assets/img/hotelpic.jpg" class="card-img" alt="">
    </span>
    <ng-template #elseBlock>
      <span *ngIf="hotel.picture === 1; else elseBlock2">
        <img src="../../../assets/img/hotelpic2.jpg" class="card-img" alt="">
      </span>
      <ng-template #elseBlock2>
        <img src="../../../assets/img/hotelpic3.jpg" class="card-img" alt="">
      </ng-template>
    </ng-template>

    <div class="card-body">
      <ul>
        <li>{{hotel.numRooms}} Rooms</li>
        <ul>
          <li>
            <div *ngFor="let room of hotel.rooms;">
              <span *ngIf="room.numRoomsAvailable > 0">
          <li>{{room.name}}</li>
          <ul>
            <li>{{room.numRoomsAvailable}} Available</li>
            <li>${{room.price}}</li>
          </ul>
          </span>
    </div>
    </li>
    </ul>
    <div *ngIf="hotel.amenities.length > 0">
      <li>Amenities</li>
      <ul *ngFor="let amen of hotel.amenities">
        <li>{{amen}}</li>
      </ul>
    </div>
    </ul>
  </div>
</div> -->



</div>
