<div class="oneBigBoi">
  <div class="grid-container">
    <div *ngIf="parsedHotels()"></div>
    <div *ngFor="let hotel of p_Hotels">
      <div class="card bg-dark">
        <!-- lazy me.... adding the pics -->
        <span *ngIf="hotel.picture === 0; else elseBlock">
          <img src="../../../assets/img/hotelpic.jpg" class="card-img" alt="">
        </span>
        <ng-template #elseBlock>
          <span *ngIf="hotel.picture === 1; else elseBlock2">
            <img src="../../../assets/img/hotelpic2.jpg" class="card-img" alt="">
          </span>
          <ng-template #elseBlock2>
            <img src="../../../assets/img/hotelpic3.jpg" class="card-img" alt="">
          </ng-template>
        </ng-template>
        <div class="card-body">
          <h3>{{ hotel.name }}</h3>
          <ul>
            <li>{{hotel.numRooms}} Rooms</li>
            <ul>
              <li>
                <div *ngFor="let room of hotel.rooms; index as i">
                  <span *ngIf=" room.numRoomsAvailable > 0">
              <li>{{room.name}}</li>
              <ul>
                <li>{{room.numRoomsAvailable}} Available</li>
                <li>${{room.price}}</li>
              </ul>
              </span>
        </div>
        </li>
        </ul>
        <div *ngIf="hotel.amenities.length>0">
          <li>Amenities</li>
        </div>
        <!--li-->
        <ul *ngFor="let amen of hotel.amenities">
          <div>
            <div *ngIf="amen.length>0">
              <li>{{amen}}</li>
            </div>
          </div>
        </ul>
        </ul>
      </div>
      <div class="d-flex justify-content-between align-items-center" style="margin: 5px;">
        <div class="btn-group">
          <button type="button" class="btn btn-sm" (click)="openViewHotel(content, hotel)">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #content let-modal>


  <div class="modal-body" style="background-color:rgb(59, 46, 139);">

    <div class="card bg-dark" id="modal-card">
      <span *ngIf="hotel.picture === 0; else elseBlock">
        <img src="../../../assets/img/hotelpic.jpg" class="card-img" alt="">
      </span>
      <ng-template #elseBlock>
        <span *ngIf="hotel.picture === 1; else elseBlock2">
          <img src="../../../assets/img/hotelpic2.jpg" class="card-img" alt="">
        </span>
        <ng-template #elseBlock2>
          <img src="../../../assets/img/hotelpic3.jpg" class="card-img" alt="">
        </ng-template>
      </ng-template>

      <div class="card-body">

        <h3>{{ hotel.name }}</h3>
        <ul>
          <li>{{hotel.numRooms}} Rooms</li>
          <ul>
            <li>
              <div *ngFor="let room of hotel.rooms; index as i">
                <span *ngIf=" room.numRoomsAvailable > 0">
            <li>{{room.name}}</li>
            <ul>
              <li>{{room.numRoomsAvailable}} Available</li>
              <li>${{room.price}}</li>
            </ul>
            </span>
      </div>
      </li>
      </ul>
      <div *ngIf="hotel.amenities.length>0">
        <li>Amenities</li>
      </div>
      <!--li-->
      <ul *ngFor="let amen of hotel.amenities">
        <div>
          <div *ngIf="amen.length>0">

            <li>{{amen}}</li>
          </div>
        </div>
      </ul>
      </ul>

    </div>
  </div>
  </div>

  <div class="modal-footer bg-dark" style='padding: 0px;'>
    <button type="button" class="btn" (click)="openEditHotel(content2)">Edit</button>
    <button type="button" class="btn" (click)="deleteHotel()">Delete</button>
    <button type="button" class="btn" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>

<ng-template #content2 let-modal>

  <div class="modal-body" style="background-color:rgb(59, 46, 139);">

    <div class="card bg-dark" id="modal-card">

      <div class="card-header">
        <h5>Edit your property!</h5>
      </div>

      <form #myform="ngForm" (ngSubmit)="validateFormInputsUpdateHotel(myform)">

        <div class="form-group">
          <label for="name">Hotel Name</label>
          <br>
          <input class="form-control" id="hotel-name" name="name" name="name" required ngModel>
        </div>

        <div class="form-group">
          <label for="numroomt">Total Number of rooms</label>
          <br>
          <input class="form-control" type="number" id="numroomt" name="numroomt" min="1" required ngModel>
        </div>

        <div class="form-group">
          <label for="standardp">Standard Price</label>
          <br>
          <input class="form-control" type="number" id="standardp" name="standardp" min="1" required ngModel>
        </div>

        <div class="form-group">
          <label for="standardq">Standard Rooms</label>
          <br>
          <input class="form-control" type="number" id="standardq" name="standardq" min="1" required ngModel>
        </div>

        <div class="form-group">
          <label for="queenp">Queen Price</label>
          <br>
          <input class="form-control" type="number" id="queenp" name="queenp" min="0" required ngModel>
        </div>

        <div class="form-group">
          <label for="queenq">Queen Rooms</label>
          <br>
          <input class="form-control" type="number" id="queenq" name="queenq" min="0" required ngModel>
        </div>

        <div class="form-group">
          <label for="kingp">King Price</label>
          <br>
          <input class="form-control" type="number" id="kingp" name="kingp" min="0" required ngModel>
        </div>

        <div class="form-group">
          <label for="kingq">King Rooms</label>
          <br>
          <input class="form-control" type="number" id="kingq" name="kingq" min="0" required ngModel>
        </div>


        <div class="form-group">
          <label for="weekenddiff">Weekend Differential</label>
          <br>
          <input class="form-control" type="number" id="weekenddiff" name="weekenddiff" min="0" required ngModel>
        </div>


        <div class="form-check" id="bigBoiCheck">

          <label>Amenities</label>
          <br>

          <div class="form-check form-check-inline">
            <input type="checkbox" value="Gym" name='Gym' id='Gym' class="form-check-input" ngModel />
            <label for="Gym">Gym</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="checkbox" value="Spa" name='Spa' id='Spa' class="form-check-input" ngModel />
            <label for="Spa">Spa</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="checkbox" value="Pool" name='Pool' id='Pool' class="form-check-input" ngModel />
            <label for="Pool">Pool</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="checkbox" value="Business Office" name='Business Office' id='Business Office'
              class="form-check-input" ngModel />
            <label for="business office">Business Office</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="checkbox" value="WiFi" name='WiFi' id='WiFi' class="form-check-input" ngModel />
            <label for="WiFi">Wifi</label>
          </div>

        </div>

        <div style="text-align: right;">
          <button class="btn btn-secondary" type="submit" style="align-content: end;">Update Property</button>
        </div>

      </form>

    </div>

  </div>

  <div class="modal-footer bg-dark" style='padding: 0px;'>
    <button type="button" class="btn" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
