<div class='page-wrap'>
  <app-nav-bar></app-nav-bar>

  <router-outlet></router-outlet>
</div>

<footer class="py-5 bg-dark" style="margin-top: 15px;">
  <div class="row">
    <div class="container">
      <p class="m-0 text-white">Copyright &copy; GRANDHotels 2021</p>
    </div>
    <!-- <div class='container'>
      <p class="m-0 float-end"><a href="">Back to top</a></p>
    </div>-->
  </div>  
  
  <!-- linkedin link is here -->
  
  <!-- <a style=" clear: both; float: right; padding-right: 20px;" href='https://www.linkedin.com/in/arielguerrero1012/'
    target="_blank">
    <img src=" ../assets/img/LI-In-Bug.png" alt="LinkedIn-brand-logo" style='width: 25px; height: 25px;'>
  </a> -->
</footer>
