.card.bg-dark#usrpage {
  padding: 10px;
  margin-top: 20px;
  width: 95%;
}

.card.bg-dark {
  width: 360px;
  margin: auto;
}

.card-body#viewHotels {
  width: 97%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 90%;
}


.form-control>input {
  width: fit-content;
}

p {
  color: white;
}

.oneBigBoy {
  margin: auto;
}

button.calendar,
button.calendar:active {
  padding: 25px;
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

#dateIn {
  width: 150px;
  margin: 3px;
  text-align: center;
  font-weight: bold;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(94, 76, 209);
  color: white;
}

.custom-day.faded {
  background-color: rgba(126, 115, 201, 0.7);
}

.col {
  margin: 15px;
}

input {
  border: none;
}
