<div class="oneBigBoy">

  <div class='card bg-dark' id='usrpage'>
    <!-- checks if user is logged in or not, if they are go to elseBlock1 -->
    <div *ngIf="user === undefined; else elseBlock1">
      <p>No user logged in, sign in <a routerLink='/sign-in'>here</a> </p>
    </div>

    <!-- user is logged in -->
    <ng-template #elseBlock1>
      <div>
        <p>
          {{user.name}}
          <br>
          {{user.email}}
        </p>
      </div>

      <a class="nav-link" (click)="openResetPassword(content)">Reset Password</a>
      <a class="nav-link" (click)="openUpdateEmail(content1)">Update email</a>
      <span *ngIf="user.isAdmin == 1">
        <a class="nav-link" (click)="openupdateToAdmin(content2)">Give Admin</a>
      </span>
    </ng-template>

  </div>

  <div *ngIf="user === undefined; else elseBlock0">

  </div>
  <!-- elseBlock 0  user is definied here -->
  <ng-template #elseBlock0>
    <!-- checking if the user is an admin, if they are get sent to elseBlock4 -->
    <div *ngIf="user.isAdmin === 0; else elseBlock4">
      <!-- regular user account -->
      <div *ngIf="getReservations()"></div>

      <div class='card bg-dark' id='usrpage'>
        <p>Current Reservations</p>
        <div class="table-responsive">
          <span *ngIf='user_reservations.length > 0'>

            <table class="table table-sm table-striped table-bordered table-hover table-dark"
              style="text-align: center;">
              <thead>
                <tr>
                  <th scope="col">Hotel</th>
                  <th scope="col">Room</th>
                  <th scope="col">Price</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let res_data of user_reservations">
                  <th scope="row">{{res_data.hotel.name}} </th>
                  <td>{{res_data.res.room.name}}</td>
                  <td>${{res_data.res.price.toFixed(2)}}</td>
                  <td>{{res_data.res.start}}</td>
                  <td>{{res_data.res.end}}</td>
                  <td> <button class='btn' (click)="openUpdateRes(content3, res_data)">
                      &#9757;</button> </td>
                </tr>
              </tbody>
            </table>
          </span>

        </div>
      </div>


    </div>

    <!-- else block 4 user is an admin -->
    <ng-template #elseBlock4>

      <!-- used to display admins hotels -->
      <app-admin-hotels-view></app-admin-hotels-view>

    </ng-template>

  </ng-template>

  <!-- reset password modal -->
  <ng-template #content let-modal>

    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">Reset your password.</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.close('Close click')"></button>
    </div>

    <div class=" modal-body" style="background-color: rgb(89, 43, 195);">

      <div class="card bg-dark" id="modal-card">

        <form #myform="ngForm" (ngSubmit)="updatePassword(myform)">

          <div class="form-group">
            <label for='email'>Email </label>
            <input class="form-control" type='email' id="email" name='email' ngModel required>
          </div>
          <div class="form-group">
            <label for="password-p">Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel required>
          </div>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword" ngModel required>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" ngModel required>
          </div>

          <div style="text-align: right; padding-top: 10px;">
            <button class="btn btn-secondary" type="submit" style="align-content: end;">Confirm</button>
          </div>

        </form>

      </div>

    </div>

    <div class="modal-footer bg-dark">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

  </ng-template>

  <!-- update email modal -->
  <ng-template #content1 let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">Update your email.</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.close('Close click')"></button>
    </div>
    <div class=" modal-body" style="background-color: rgb(89, 43, 195);">

      <div class="card bg-dark" id="modal-card">

        <form #myform="ngForm" (ngSubmit)="updateEmail(myform)">

          <div class="form-group">
            <label for='email'>Email </label>
            <input class="form-control" type='email' id="email" name='email' ngModel required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel required>

          </div>

          <div class="form-group">
            <label for='email'>Email </label>
            <input class="form-control" type='email' id="newEmail" name='newEmail' ngModel required>
          </div>


          <div style="text-align: right; padding-top: 10px;">
            <button class="btn btn-secondary" type="submit" style="align-content: end;">Confirm</button>
          </div>

        </form>

      </div>
    </div>
    <!-- -->
    <div class="modal-footer bg-dark">

      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <!-- give admin modal -->
  <ng-template #content2 let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">Grant administrative privileges to a user.</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.close('Close click')"></button>
    </div>
    <div class=" modal-body" style="background-color: rgb(89, 43, 195);">

      <div class="card bg-dark" id="modal-card">

        <form #myform="ngForm" (ngSubmit)="updateToAdmin(myform)">

          <div class="form-group">
            <label for='email'>User Email</label>
            <input class="form-control" type='email' id="email" name='email' ngModel required>
          </div>

          <div class="form-group">
            <label for="password">User Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel required>

          </div>

          <div style="text-align: right; padding-top: 10px;">
            <button class="btn btn-secondary" type="submit" style="align-content: end;">Confirm</button>
          </div>

        </form>

      </div>
    </div>
    <!-- -->
    <div class="modal-footer bg-dark">

      <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <!-- update reservation modal -->
  <ng-template #content3 let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">Update Reservation.</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.close('Close click')"></button>
    </div>

    <div class=" modal-body" style="background-color: rgb(89, 43, 195);">

      <div class="card bg-dark" id="modal-card">

        <form #myform="ngForm" (ngSubmit)="updateReservation(myform)">

          <div class="form-check" id="bigBoiCheck">
            <label for="room" class="form-label" onmousedown="return false" onselectstart="return false">Rooms</label>
            <br>
            <span *ngFor="let room of selected_res.hotel.rooms">
              <span *ngIf="room.price != -1 && room.numRoomsAvailable > 0">
                <div class="form-check">
                  <input type="radio" name="room" value="{{room.name}}" class="form-check-input" ngModel />
                  <label onmousedown="return false" onselectstart="return false">{{room.name}}, ${{room.price}} per
                    night.</label>
                </div>

              </span>
            </span>
          </div>

          <!-- start date picker -->
          <div class="form-group">
            <label class="form-label" onmousedown="return false" onselectstart="return false">Booking Dates</label>
            <br>
            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
              [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
              outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" type="hidden">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">

                {{ date.day }}

              </span>
            </ng-template>
            <input #dpFromDate id="dateIn" placeholder="start date" name="dpFromDate"
              [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              size="5" (click)="datepicker.toggle()">
            <input #dpToDate id="dateIn" placeholder="end date" name="dpToDate" [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)" (click)="datepicker.toggle()">
          </div>
          <!-- end date picker -->

          <span style='float:right;'>
            <button type="button" class="btn btn-secondary" type="submit">Update</button>
          </span>

        </form>

      </div>
    </div>

    <div class="modal-footer bg-dark">
      <span>
        <button type="button" class="btn btn-secondary" (click)="deleteReservation()" type="submit">Cancel
          Reservation</button>
      </span>

      <span style='float:right;'>

        <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </span>

    </div>

  </ng-template>
