/* You can add global styles to this file, and also import other style files */
button,
.btn {
  background-color: rgb(89, 43, 195);
  color: white;
  outline: white;
  border-color: white;
  margin: 10px;

}

.btn:hover {
  background-color: rgb(129, 85, 230);
  color: white;
  border-color: rgb(106, 90, 205);
}

.btn:focus {
  box-shadow: none !important;
}

input[type=range] {
  width: 70%;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-webkit-slider-thumb:focus {
  background-color: rgb(110, 69, 207);
  border: 1px solid white;
  box-shadow: none !important;
}


input[type='checkbox']:focus,
input[type=radio] {
  border-color: rgb(110, 69, 207);
  box-shadow: none !important;
}

input[type='checkbox']:checked,
input[type=radio]:checked {
  background-color: rgb(110, 69, 207);
  border-color: rgb(129, 85, 230);
  color: white;
  box-shadow: none !important;
}

label {
  color: white;
}

h3>a.nav-link,
h3 {
  color: white;
  /* font-size: 50%; */
}

a,
a.nav-link {
  color: rgb(110, 69, 207);
  text-decoration: none;
}

a:hover,
a.nav-link:hover {
  color: rgb(129, 85, 230);
  cursor: pointer;
}

header {
  background-image: url('./assets/img/masthead-pic1.jpg');
  background-size: cover;
  width: 100%;
}

header>h3>a.nav-link {
  color: white;
}

header>h3>a:hover {
  color: rgb(217, 215, 228);
  cursor: pointer;
  width: 100%;
}

body {
  background-color: rgb(89, 43, 195);
}

html,
body {
  height: 100%;
}

.card-header {
  background-image: url("./assets/img/bg-img-1.gif");
  border: 1px solid white;
  color: white;
  text-align: center;
}

.img-fluid {
  max-width: 65%;
  height: auto;
}

.card.bg-dark {
  border: 1px solid white;
}

.oneBigBoy {
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-container {
  height: 100%;
  margin-top: 10px;
  padding: 5px 5x;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

input.form-control {
  width: 70%;
  margin: 10px;
}

input.form-control:focus {
  border-color: rgb(110, 69, 207);
  box-shadow: none !important;
}

.form-group {
  background-image: url("./assets/img/bg-img-1.gif");
  color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}

#bigBoiCheck {
  background-image: url("./assets/img/bg-img-1.gif");
  color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  min-height: 102px;
}


form>div>.btn {
  background-image: url("./assets/img/bg-img-1.gif");
}

form>div>.btn:hover {
  background-image: url("./assets/img/bg-img-2.gif");
}
