<div class="oneBigBoy">
  <div class="card bg-dark text-white">

    <form #myform="ngForm" (ngSubmit)="checkData(myform)">


      <div class="form-group">
        <label for='email'>Email </label>
        <input class="form-control" type='email' id="email" name='email' ngModel required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" ngModel required>
      </div>


      <div style="text-align: left; padding-top: 10px;">
        <p>New? Sign up <a class="link" routerLink="/new-user-page">Here</a>
        </p>
      </div>

      <div style="text-align: right; padding-top: 10px;">
        <button class="btn btn-secondary" type="submit" style="align-content: end;">Sign in</button>
      </div>

    </form>

  </div>
</div>
